<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="'/'">Kikoliashvili1000</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="'/'"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >Главная</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="'/personals'"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >Персоналии</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="'/personals/personal'"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >Форма для персоналий</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="'/positions'"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >Должности</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="'/positions/position'"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >Форма для должностей</a
            >
          </li>
          
        </ul>
      </div>
    </div>
  </nav>